reproduce/likelihoods* filter=lfs diff=lfs merge=lfs -text
reproduce/likelihoods*/*.pkl filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.h5  filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.h5  filter=lfs diff=lfs merge=lfs -text
gmm_likelihoods/* filter=lfs diff=lfs merge=lfs -text
